<h1>Places You've Been</h1>
<form action="/" method="post">
  <div class='form-group'>
    <label for="name">Enter a place</label>
    <input type="text" name="name" class='form-control'>

    <label for="description">Enter a place</label>
    <input type="text" name="description" class='form-control'>
  </div>
  <button type='submit'>Send</button>
</form>
